@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.form-box h2 {
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.form-box .input-box input {
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
}

.input-box i {
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.form-box .submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.form-box .submit:hover {
    background-color: aqua;
}

.form-box label {
    color: #fff;
}

.form-box label a {
    text-decoration: none;
    color: aqua;
}

.form-box .btn-login {
    margin: 20px;
}

.form-box .btn-login a:hover {
    text-decoration: underline;
}

.form-box .btn-register {
    margin: 20px;
}

.form-box .btn-register a:hover {
    text-decoration: underline;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: 0px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: aqua;
    margin-right: 3px;
}

.wrapper {
    position: relative;
    width: 390px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #fff;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px;
    cursor: pointer;
    z-index: 1;
}

.dsAccount table{
    color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
}

.dsAccount table th{
    padding: 5px 25px;
}

.txtdanger{
    margin: 3px auto;
    color: red;
}