* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper {
    height: auto;
    margin: 0 auto;
    color: #f5f6fa;
    position: relative;
}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
}

.header .logo {
    line-height: 60px;
}

.header .logo img {
    width: 60px;
    margin-top: 20px;
    box-shadow: 6px -6px 8px #182e4a;
}

.header .logo label {
    color: black;
    font-size: 40px;
    text-shadow: 6px -6px 8px #182e4a;
}

.header .btn-tim input {
    padding: 2px;
    width: 250px;
}

.header .btn-tim input::placeholder {
    color: black;
    font-size: 12px;
}

.header .btn-tim input:focus {
    outline: none;
}

.header .btn-tim button {
    background-color: #2ecc71;
    border: none;
    padding: 3px;
    box-shadow: 6px 6px 8px #050202;
    color: #fff;
    cursor: pointer;
}

.header .col:nth-child(3) button {
    background-color: #fff;
    padding: 3px;
    cursor: pointer;
}


ul {
    list-style: none;
}

nav {
    background: #130f40;
}

.main-menu {
    display: flex;
    justify-content: center;
}

nav .main-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

nav .main-menu li:hover a {
    background-color: #c23616;
    transition: all 0.3s;
}

nav .main-menu li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
}

#toggle {
    display: none;
    background-color: #c23616;
    color: #fff;
    text-align: right;
    padding: 4px;
}

.container {
    max-width: 1089px;
    margin: 10px auto;
    background-color: #f5f6fa;
}

.headline {
    margin: 40px 20px;
}

.headline h3 {
    color: #EA2027;
    padding: 10px 20px;
    border: 1px solid #050202;
    display: inline-block;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px -5px 10px #182e4a;
}

ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 32%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    box-shadow: 6px -6px 8px #130f40;
    border: 1px solid #130f40;
}

ul.products li:hover{
    margin-top: -10px;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #f71e1e;
    color: #fff;
    padding: 5px 0px;
    position: absolute;
    bottom: -45px;
    width: 100%;
    transition: 0.25s ease-in-out;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 20px 0px;
}

ul.products li .product-info .product-price {
    color: #ae0e0e;
    padding: 2px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
    color: #1601ff;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}

footer {
    background: black;
}

footer p,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    margin: 0px auto;
    display: flex;
    width: 1089px;
}

.table .col {
    width: 25%;
    padding: 2.5px;
}

.table .col h3 {
    color: #fff;
    margin: 15px 0;
    font-weight: 500;
}

.table .col .row p {
    color: #ced6e0;
    margin: 10px 0;
    font-size: 14px;
}

.table .col .row p a {
    color: #fff;
}

.table .col:nth-child(4) .row {
    display: flex;
    justify-content: space-between;
}

.table .col:nth-child(4) .row p:nth-child(1):hover a {
    color: #1e90ff;
}

.table .col:nth-child(4) .row p:nth-child(2):hover a {
    color: #f39c12;
}

.table .col:nth-child(4) .row p:nth-child(3):hover a {
    color: #EA2027;
}

.footer-bot {
    background: black;

}

.footer-bot p {
    text-align: center;
    color: #ffffff78;
    padding: 30px 0 5px 0;
}

/* css trang chi tiet */
.information .row{
    display: flex;
}

.information .row .col{
    width: 33%;
    background-color: #130f40;
    padding: 12px 3.5px;
}

.information .row .col .price{
    margin: 5px 0;
}

.information .row .col .price h4{
    color: #EA2027;
}

.information .row img{
    max-width: 500px;
    transition: transform .2s;
}

.information .row img:hover{
    transform: scale(1.1);
}

.information .row h3{
    color: #fff;
}

.information .row .col p{
    color: #ffffff85;
    font-size: 16px;
    margin: 5px 0;
}

.information .row .col b{
    color: #EA2027;
}

.information .row .col button{
    padding: 5px 15px;
    cursor: pointer;
    margin: 5px 0;
}

.information .row .col button:hover{
    background-color: #1e90ff;
    color: #fff;
}

.information .row .col .link{
    margin: 5px 0;
}

.information .row .col .link a{
    margin: 0 10px;
    color: #fff;
}
.information .row .col .link a:nth-child(1):hover i{
    color: #D980FA;
}

.information .row .col .link a:nth-child(2):hover i{
    color: #f39c12;
}

.information .row .col .link a:nth-child(3):hover i{
    color: #1e90ff;
}

.information .row .col .link a:nth-child(4):hover i{
    color: #be2a8d;
}

.mota{
    width: 95%;
    border: 1px solid #182e4a;
    background-color: #182e4a;
    padding: 5px;
    margin-top: 5px;
    word-wrap: break-word;
    height: 300px;
    overflow-y: auto;
    text-align: left;
}

/* Css web giới thiệu thành viên */
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #050202;
}
.introduction tr,td,th{
    color: #fff;
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding: 5px 10px;
}

/* Css trang tin tức */
.container-tin-tuc{
    width: 100%;
}

.container-tin-tuc .sub-tin-tuc:hover{
    border: 1px solid red;
}

.container-tin-tuc .sub-tin-tuc:hover a{
    background-color: #EA2027;
}

.container-tin-tuc h3{
    color: black;
}

.container-tin-tuc .date{
    color: gray;
}

.container-tin-tuc .main-tin-tuc{
    display: flex;
    width: 100%;
}

.main-tin-tuc > .sub-tin-tuc{
    width: 70%;
    margin-right: 10px;
}

.main-tin-tuc > .sub-tin-tuc img{
    width: 100%;
}


.main-tin-tuc .main-tin-tuc-left img{
    width: 100%;
}

.main-tin-tuc .main-tin-tuc-right{
    width: 30%;
}

.main-tin-tuc .main-tin-tuc-right img{
    width: 100%;
}

.container-tin-tuc .list-tin-tuc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.list-tin-tuc .sub-tin-tuc{
    flex-basis: 33%;
}

.list-tin-tuc .sub-tin-tuc img{
    width: 359px;
}

.sub-tin-tuc{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 45px;
}

.sub-tin-tuc a{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 8px 10px;
    position: absolute;
    right: -3px;
    bottom: -3px;
}


@media screen and (max-width: 768px) {
    .header .logo img{
        width: 50px;
    }
    .header .logo label{
        font-size: 20px;
    }
    .header .btn-tim input{
        width: 100px;
    }
    .header .col:nth-child(3) button{
        font-size: 12px;
        padding: 1px;
    }
    #toggle {
        display: block;
    }
    .main-menu {
        flex-direction: column;
        text-align: center;
    }
    
    .table{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .table .col{
        margin: 0 auto;
    }
    .information .row{
        flex-direction: column;
    }
    .information .row .col{
        width: 100%;
    }
    .information .row img{
        width: 100%;
    }
    .information .row img{
        max-width: 95%;
    }
    
}